.headerSection {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: space-between; */
}
.logo {
  width: 64px;
  height: 50px;
  margin-right: 50px;
}

.pageLinkItem {
  /* margin-right: 20px; */
  width: 100%;
  padding: 20px;
  color: black;
}
.pageLinkItem:hover,
.pageLinkItem:focus {
  background-color: #4682b4;
  border-radius: 10px;
  color: aliceblue;
  font-size: 24px;
}
.pageLink {
  color: black;
}
.sideBar {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
}
