.headerSection {
  display: flex;
  align-items: center;
}
.logo {
  width: 64px;
  height: 50px;
}
.pageLink {
  margin-right: 20px;
  padding: 5px;
  color: black;
}
.pageLink:hover,
.pageLink:focus {
  background-color: #7b68ee;
  border-radius: 10px;
  color: aliceblue;
}
